<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration_form_test_abc.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @registration_form_test_abc.phone %>
</p>

<%= link_to 'Edit', edit_registration_form_test_abc_path(@registration_form_test_abc) %> |
<%= link_to 'Back', registration_form_test_abcs_path %>
