<%= form_with(model: registration_formtest, local: true) do |form| %>
  <% if registration_formtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration_formtest.errors.count, "error") %> prohibited this registration_formtest from being saved:</h2>

      <ul>
      <% registration_formtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
